<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="~{fragments/main_layout.html}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Zamówienia</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div id="content-wrapper">
				<div class="container-fluid">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
						<li class="breadcrumb-item active">Zamówienia</li>
					</ol>
					<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-dollar-sign fa-fw"></i> Zamówienia
							<div class="float-right">
								<button type="button" class="btn btn-success btn-icon-split"
									id="addOrder">
									<span class="icon text-white-50"> <i
										class="far fa-plus-square"></i>
									</span> <span class="text">Dodaj</span>
								</button>
								<button type="button" class="btn btn-info btn-icon-split"
								 id="raportOrderPDF">
									<span class="icon text-white-50"> <i
										class="far fa-plus-square"></i>
									</span> <span class="text">PDF</span>
								</button>
								<button type="button" class="btn btn-warning btn-icon-split"
								 id="raportOrderXLS">
									<span class="icon text-white-50"> <i
										class="far fa-plus-square"></i>
									</span> <span class="text">XMS</span>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Lp</th>
											<th>Numer</th>
											<th>Asortyment</th>
											<th>Data</th>
											<th>Dostawca</th>
											<th>Ilość</th>
											<th>Cena</th>
											<th>Wartość</th>
											<th>Klient</th>
											<th>Ilość</th>
											<th>Cena</th>
											<th>Wartość</th>
											<th>Zysk</th>
											<th>Użytkownik</th>
											<th>Edytuj</th>
										</tr>
									</thead>
									<tr th:each="order,lp:${orders}">
										<td th:text="${lp.count}">1</td>
										<td th:text="${order.number}"></td>
										<td th:text="${order.provider.name}"></td>
										<td th:text="${order.createDate}"></td>
										<td th:text="${order.customer.name}"></td>
										<td th:text="${order.quantityPurchase}"></td>
										<td th:text="${order.pricePurchase}"></td>
										<td th:text="${order.valuePurchase}"></td>
										<td th:text="${order.customer.name}">1</td>
										<td th:text="${order.quantitySell}"></td>
										<td th:text="${order.priceSell}"></td>
										<td th:text="${order.valueSell}"></td>
										<td th:text="${order.profit}"></td>
										<td th:text="${order.user.name}"></td>
										<td style="width: 20px"><a
											th:href="@{/order/} + ${order.id}"><i
												class="fas fa-user-edit"></i></a></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted text-center">
							<p
								th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/modal_order :: modal_raport" />
	</div>
</body>

</html>